* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* .container-conteudo {
width: 65%;
margin: auto;
} */

body {
    /* display: grid;
    grid-template-columns: 1fr 3fr 1fr; */
    background-color: #424141;
    color: white;
}

header{
    width: 100%;
    position: fixed;
    /* grid-column: 1/4; */
    background-color: #6B6B6B;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: poppins, sans-serif;
}

a:hover {
    cursor: pointer;
    color: #4CD137;
}

.menu-navagacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.container-navegacao {
    display: flex;
}

.navegacao {
    list-style: none;
    padding: 14px;
    font-size: 20px;
    font-family: poppins, sans-serif;
}

.redes-sociais {
    display: block;
    position: fixed;
    margin-top: 800px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}



/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
} */



.config-tela {
    width: 65%;
    margin: auto;
}

.conteudo {
    width: 100%;
    height: 100%;
}



.apresentacao{
    display: grid;
    /* grid-column: 1/3; */
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    align-content: center;
}

.container-apresentacao {
    font-size: 20px;
    font-family: ubunto, sans-serif;
    font-weight: bold;
    grid-column: 1/2;
    grid-row: 1/2;
}

.titulo-apresentacao {
    font-size: 80px;
}

.funcao {
    font-size: 30px;
    font-family: ubunto, sans-serif;
    font-weight: normal;
    margin-top: 20px;
}

.paragafro-apresentacao {
    margin-top: 60px;
    font-size: 20px;
    font-family: ubunto, sans-serif;
    text-align: justify;
    letter-spacing: -1px;

}


.btn {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: #424141;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
}

.btn2 {
    background-color: #6B6B6B;
}

.btn:hover {
    cursor: pointer;
    border: 3px solid #4CD137;
    color: #4CD137;
}

.foto-perfil {
    height: 300px;
    width: 300px;
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 50%;
    justify-self: center;    
} 
















.titulo-sobre {
    /* padding: 20px; */
    font-size: 20px;
    font-family: roboto, sans-serif;
    color: #4CD137;
}

.conteudo-sobre {
    padding: 10px 0 100px;
    
}

.subtitulo-sobre {
    padding-top: 40px;
    font-size: 35px;
    font-family: roboto, sans-serif;
    font-weight: lighter;
}

.texto-sobre {
    text-align: justify;
    padding-top: 60px;
    font-size: 25px;
    font-family: roboto, sans-serif;
}

.sobre {
    text-align: center;
    background-color: #6B6B6B;
}

.formacoes {
    background-color: #6B6B6B;
    height: 100vh;
}

.contatos {
    background-color: #6B6B6B;
    height: 100vh;
}


















footer {
    width: 100%;
    padding: 20px;
    background-color: #424141;
    grid-column: 1/4;
    text-align: center;
}

