:root {
    --cor-bg: #F0F0F0;
    --cor-titulo: #000;
    --cor-btn: #E1E1E1;
    --cor-shadow: #c9c9c9;
}

.dark:root{
    --cor-bg:#000;
    --cor-titulo: #fff;
    --cor-btn: #222222;
    --cor-shadow: #5b5b5b;
}

.amarelo:root {
    --cor1: yellow;
}

.azul:root {
    --cor1: blue;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}



body {
    background-color: var(--cor-bg);
    color: var(--cor-bg);
    
}

.ativar-opacidade {
    opacity: .2;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: var(--cor-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    color: var(--cor-titulo);
}


.btn-darkLight {
    margin-right: 80px;
    width: 70px;
    height: 60px;
    border-radius: 15px;
    background-color: var(--cor-btn);
    border: 3px solid #ee4d5100;
}

.btn-darkLight:hover {
    cursor: pointer;
    border: 3px solid var(--cor1);
    color: var(--cor1);
}

.light-mode {  
    font-size: 22px;
    position: relative;
    top: 30%;
    left: 28%;
}



li {
    text-decoration: none;
    list-style: none;
}

.container-navegacao li + li {
    margin-left: 40px;
    
}


.logo {
    text-decoration: none;
    list-style: none;
    color: var(--cor-titulo);
    font-size: 22px;
    margin-left: 20px;
    padding: 20px;
    white-space: nowrap;
}

.navegacao {
    text-decoration: none;
    font-size: 20px;
    color: var(--cor-titulo);
}

.redes-laterais {
    text-decoration: none;
    font-size: 40px;
    color: var(--cor1);
    font-weight: bolder;
}

.navegacao:hover {
    cursor: pointer;
    color: var(--cor1);
}

.redes-laterais:hover {
    cursor: pointer;
    color: var(--cor1);
}

.cores {
    display: flex;
    position: fixed;
    top: 100px;
    left: 1210px;
    width: 100px;
    height: 150px;
    border-top: 3px solid var(--cor-titulo);
    border-bottom: 3px solid var(--cor-titulo);
    border-left: 3px solid var(--cor-titulo);
    border-radius: 10px 0 0 10px;
}

#amarelo {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 5px;
}

#amarelo:hover {
    cursor: pointer;
}

#azul {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 5px;
}


.menu-navagacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

.container-navegacao {
    display: flex;
}

.navegacao {
    list-style: none;
    padding: 14px;
    font-size: 20px;
}

.redes-sociais {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 700px;
    margin-left: 20px;
}

.fa-brands {
    font-size: 25px;
    padding: 10px;
}

.config-tela {
    width: 65%;
    margin: auto;
}

.conteudo {
    width: 100%;
    height: 100%;
}



.apresentacao{
    background-color: var(--cor-btn);
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 900px;
    padding-top: 250px;
    padding-bottom: 350px;
    align-content: center;    
}


.container-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.texto-portifolio {
    margin-bottom: 150px;
    color: var(--cor1);
    font-size: 30px;
    font-weight: bold;
}

.titulo-apresentacao {
    font-size: 80px;
    color: var(--cor-titulo);
    margin-bottom: 30px;
    display: flex;
}

.logo2 {
    background-color: var(--cor-titulo);
    width: 80px;
}

.nome::first-letter {
    color: var(--cor1);
} 

.sobrenome::first-letter {
    color: var(--cor1);
} 



.funcao {
    font-size: 25px;
    font-weight: normal;
    color: var(--cor1);
}

.paragafro-apresentacao {
    margin-top: 60px;
    font-size: 20px;
    text-align: justify;
    letter-spacing: -1px;

}


.btn {
    width: 250px;
    height: 70px;
    margin-top: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid var(--cor-titulo);
    color: var(--cor-titulo);
    border-radius: 15px;
}




svg {
    width: 350px;
    height: 600px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--cor1);
    border: 3px solid var(--cor1);
    color: var(--cor-btn);
}


















.config-seccao {
    padding: 150px 0 100px;
    
}

.titulos {
    font-size: 30px;
    color: var(--cor1);
}

.subtitulos {
    font-size: 20px;
    font-weight: lighter;
    color: var(--cor-titulo);
}

.subtitulo-sobre {
    padding-top: 40px;
    font-size: 35px;
    font-weight: lighter;
    color: var(--cor-titulo);
}

.container-foto {
    justify-self: center;
    grid-column: 1/1;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-radius: 10px;
} 

.foto-perfil {
    border: 3px solid var(--cor-titulo);
    border-radius: 20%;
    width: 250px;
    height: 250px;
    margin-bottom: 45px;
    position: relative;
    top: 20px;
}

.texto-sobre {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: justify;
    font-size: 18px;
    padding-top: 30px;
    color: var(--cor-titulo);
}

.texto-sobre h1 {
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 20px;
}

.paragrafo {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 80px;
}

.sobre {
    text-align: center;
    border-bottom: 1px solid rgba(173, 173, 173, 0.219);
    height: 100vh;
    min-height: 1200px;
}

.container-sobre {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn2 {
    width: 200px;
    height: 60px;
    margin-top: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid var(--cor-titulo);
    color: var(--cor-titulo);
    border-radius: 15px;  
    
}


.btn2:hover {
    cursor: pointer;
    border: 3px solid var(--cor1);
    background-color: var(--cor1);
    color: var(--cor-btn);
}


.skills {
    margin: 0;
}



.perfil {
    color: var(--cor-titulo);
}


.perfil-git {
    color: var(--cor-titulo);
    font-size: 15px;
}

.perfil p {
    font-size: 20px;
    text-align: center;
}



.habilidades-teste {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.caixa-habilidade {
    border: 3px solid var(--cor-titulo);
    padding: 8px;
    border-radius: 10px;
    width: 360px;
    height: 80px;
    font-size: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-titulo);
}

.caixa-habilidade:hover {
    cursor: pointer;
    background-color: var(--cor1);
    border: 3px solid var(--cor1);
    color: var(--cor-bg);
}







.contatos {    
    height: 100vh;
    min-height: 900px;
}


.esconder {
    display: none;
}





.formacoes {
    background-color: var(--cor-btn);
    border-bottom: 1px solid rgba(173, 173, 173, 0.219);
    height: 100vh;
    min-height: 1000px;
    text-align: center;
    height: 100vh;
}

.container-formacoes {
    margin-top: 100px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.formacao {
    font-size: 18px;
    text-align: justify;
    border: 3px solid var(--cor-titulo);
    border-radius: 10px;
    width: 250px;
    height: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px var(--cor-shadow);
    color: var(--cor-titulo);
}

.formacao:hover {
    cursor: pointer;
    background-color: var(--cor1);
    border: 3px solid var(--cor1);
    color: var(--cor-btn);
}





.portifolio {
    border-bottom: 1px solid var(--cor-shadow);
    width: 100%;
    height: 100vh;
    min-height: 1200px;
    text-align: center;
    
}

.container-portifolio {  
    width: 70%;
    position: relative;
    left: 15%;
    margin-top: 100px;
}

.card {
    background-color: transparent;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    color: var(--cor-titulo);
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 5px var(--cor-shadow);
}


.imagens {
    border-radius: 3px;
    margin-top: 50px;
    height: 300px;
} 

.titulo-projeto {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.descricao-projeto {
    margin-top: 50px;
    text-align: justify;
    font-size: 17px;
    margin-bottom: 20px;
}

.deploy-codigo {
    width: 150px;
    padding: 15px;
    background-color: transparent;
    color: var(--cor-titulo);
    border: 3px solid var(--cor-titulo);
    border-radius: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.deploy-codigo:hover {
    border: 3px solid var(--cor1);
    cursor: pointer;
    background-color: var(--cor1);
    color: var(--cor-btn);
}

.contatos {
    background-color: var(--cor-btn);
    width: 100%;
    height: 100vh;
    min-height: 1000px;
    text-align: center;
}

.contatar {
    margin-top: 100px;
    margin-bottom: 200px;
    color: var(--cor-titulo);
}

.container-contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1700px;
    margin-left: 100px;
}


.container-contatos div + div {
    margin-left: 100px;
}


.icone-contatos {
    font-size: 50px;
}

.texto-contato {
    margin-top: 50px;
    margin-bottom: 40px;
}


.caixa-contatos {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    padding: 50px 10px;
    border: 3px solid #ee4d5100;
    color: var(--cor-titulo);
}

.caixa-contatos:hover {
    cursor: pointer;
    border: 3px solid var(--cor1);
    color: var(--cor1);
}



footer {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(173, 173, 173, 0.219);
    color: var(--cor-titulo);
}



.fechar {
    position: absolute;
    background-color: var(--cor-btn);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    top: -20%;
    left: 100%;
}

.fechar:hover {
    cursor: pointer;
    background-color: var(--cor1);
}

.fechar p {
    position: relative;
    top: 28%;
}

.habilidade {
    background-color: var(--cor-btn);
    width: 30%;
    border-radius: 10px;
    color: var(--cor-titulo);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 50px;
    z-index: 999;
    position: fixed;
    top: 30%;
    left: 35%;
    box-shadow: 0 3px 5px var(--cor-shadow);
    animation: scale 1.2s ease-out;
  }


  @keyframes scale {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  .barra-porcentagem {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .barra {
    background-color: rgba(173, 173, 173, 0.219);
    width: 100%;
    height: 10px;
    border-radius: 10px;
    margin-right: 20px;
  }

  .container-barraPorcentagem {
    display: flex;
    align-items: center;
  }


  .numeroOpaco {
    animation: numero 3s ease-out;
  }
  @keyframes numero {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  .porcentagem5 {
    background-color: var(--cor1);
    width: 5%;
    height: 10px;
    border-radius: 10px;
    animation: carregar5 1.5s ease-out;
  }
  @keyframes carregar5 {
    from {width: 0%;}
    to{width: 5%;}
  }

  .porcentagem10 {
    background-color: var(--cor1);
    width: 10%;
    height: 10px;
    border-radius: 10px;
    animation: carregar10 1.5s ease-out;
  }

  @keyframes carregar10 {
    from {width: 0%;}
    to{width: 10%;}
  }

  .porcentagem20 {
    background-color: var(--cor1);
    width: 20%;
    height: 10px;
    border-radius: 10px;
    animation: carregar20 1.5s ease-out;
  }
  @keyframes carregar20 {
    from {width: 0%;}
    to{width: 20%;}
  }

  .porcentagem25 {
    background-color: var(--cor1);
    width: 25%;
    height: 10px;
    border-radius: 10px;
    animation: carregar25 1.5s ease-out;
  }

  @keyframes carregar25 {
    from {width: 0%;}
    to{width: 25%;}
  }

  .porcentagem30 {
    background-color: var(--cor1);
    width: 30%;
    height: 10px;
    border-radius: 10px;
    animation: carregar30 1.5s ease-out;
  }

  @keyframes carregar30 {
    from {width: 0%;}
    to{width: 30%;}
  }

  .porcentagem45 {
    background-color: var(--cor1);
    width: 45%;
    height: 10px;
    border-radius: 10px;
    animation: carregar45 1.5s ease-out;
  }
  @keyframes carregar45 {
    from {width: 0%;}
    to{width: 45%;}
  }

  .porcentagem80 {
    background-color: var(--cor1);
    width: 80%;
    height: 10px;
    border-radius: 10px;
    animation: carregar80 1.5s ease-out;
  }
  @keyframes carregar80 {
    from {width: 0%;}
    to{width: 80%;}
  }




@media (max-width: 1600px) {
    .redes-laterais {
        font-size: 5px;
    }

    .redes-sociais {
        margin-top: 450px;
    }

    .apresentacao {
        padding-top: 150px;
        min-height: 700px;
    }

    .habilidades-teste {
        margin-left: 50px;
    }

    .cursos {
        margin-left: 20px;
    }

    .imagens {
        height: 250px;
        width: 100%;
    }

    .container-contatos {
        margin-left: 10px;
        margin-right: 10px;
    }

    .icone-contatos {
        font-size: 30px;
    }

    .texto-contato {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .logo {
    font-size: 18px;
    margin-left: 10px;
    padding: 10px;
    }

    .navegacao{
        display: none;
    }

    .btn-darkLight {
    margin-top: 200px;
    margin-right: 0;
    width: 80px;
    border-radius: 15px 0 0 15px;
    }

    .texto-portifolio {
        margin-top: 50px;
    }

    .titulo-apresentacao {
        font-size: 60px;
    }
}