* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}



body {
    background-color: #424141;
    color: white;
}

header{
    width: 100%;
    position: fixed;
    background-color: #6B6B6B;
    display: flex;
}

li {
    text-decoration: none;
    list-style: none;
}

.navegacao {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: poppins, sans-serif;
}

.redes-laterais {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: poppins, sans-serif;
}

.navegacao:hover {
    cursor: pointer;
    color: #4CD137;
}

.redes-laterais:hover {
    cursor: pointer;
    color: #4CD137;
}

.menu-navagacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

.container-navegacao {
    display: flex;
}

.navegacao {
    list-style: none;
    padding: 14px;
    font-size: 20px;
    font-family: poppins, sans-serif;
}

.redes-sociais {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    margin-left: 20px;
    /* display: flex;
    position: fixed;
    margin-top: 800px;
    margin-left: 10px; */
    /* display: flex;
    flex-direction: column; */
}

.fa-brands {
    font-size: 25px;
    padding: 10px;
}








.config-tela {
    width: 65%;
    margin: auto;
}

.conteudo {
    width: 100%;
    height: 100%;
}



.apresentacao{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    width: 100%;
    height: 100vh;
    min-height: 900px;
    padding-top: 250px;
    padding-bottom: 350px ;
    align-content: center;
    background-color:#424141
}

.container-apresentacao {
    font-size: 20px;
    font-family: ubunto, sans-serif;
    font-weight: bold;
    grid-column: 2/3;
    grid-row: 1/2;
}

.titulo-apresentacao {
    font-size: 80px;
}

.funcao {
    font-size: 30px;
    font-family: ubunto, sans-serif;
    font-weight: normal;
    margin-top: 20px;
}

.paragafro-apresentacao {
    margin-top: 60px;
    font-size: 20px;
    font-family: ubunto, sans-serif;
    text-align: justify;
    letter-spacing: -1px;

}


.btn {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: #424141;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
}

.btn2 {
    background-color: #6B6B6B;
}

.btn:hover {
    cursor: pointer;
    border: 3px solid #4CD137;
    color: #4CD137;
}

.foto-perfil {
    height: 300px;
    width: 300px;
    grid-column: 3/4;
    grid-row: 1/3;
    border-radius: 50%;
    justify-self: center;    
} 















.config-secção {
    padding: 150px 0 100px;
    
}

.titulos {
    font-size: 20px;
    font-family: roboto, sans-serif;
    color: #4CD137;
}

.subtitulos {
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-weight: lighter;
}

.subtitulo-sobre {
    padding-top: 40px;
    font-size: 35px;
    font-family: roboto, sans-serif;
    font-weight: lighter;
}

.texto-sobre {
    text-align: justify;
    padding-top: 60px;
    font-size: 25px;
    font-family: roboto, sans-serif;
}

.sobre {
    text-align: center;
    background-color: #6B6B6B;
    height: 100vh;
    min-height: 900px;
}

.formacoes {
    background-color: #6B6B6B;
    height: 100vh;
    min-height: 1400px;
    text-align: center;
}

.contatos {
    background-color: #6B6B6B;
    height: 100vh;
    min-height: 900px;
}




.habilidades {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    height: 100vh;
    min-height: 1000px;
}

.conteudo-habilidades {
    grid-column: 2/3;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}


.btn-habilidades {
    display: flex;
    align-items: flex-end;
    padding: 20px 0 20px 0;
    margin: 0;
    border-radius: 5px;
    background-color: #6B6B6B;
    text-align: left;
    font-size: 12px;
    font-family: poppins, sans-serif;
    color: white;
    border: 2px solid #4cd13700;
}

.esconde {
    display: none;
}

@media (max-width: 1600px) {
    .btn-habilidades {
        font-size: 9px;
    }

    .container-botoes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.texto-tecnologia {
    text-align: start;
}

.teste {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 100%;
    height: 100%;
    margin: 0;
    /* display: none; */
}

.barra-porcentagem {
    background-color: gray;
    width: 250px;
    height: 10px;
    border-radius: 10px;
}

.porcentagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.carregamento-porcentagem10 {
    width: 10%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem10 {
    width: 20%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem20 {
    width: 30%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem30 {
    width: 40%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem40 {
    width: 40%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem50 {
    width: 50%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem60 {
    width: 60%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem70 {
    width: 70%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem80 {
    width: 80%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem90 {
    width: 90%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.carregamento-porcentagem100 {
    width: 100%;
    height: 100%;
    background-color: #4CD137;
    border-radius: 10px;
}

.fa-html5 {
    /* color: #ff532d; */
    color:#6B6B6B ;
}

.fa-square-js {
    /* color: #fbea34; */
    color: #6B6B6B;
}

.fa-css3-alt {
    /* color: #2432ff; */
    color: #6B6B6B;
}

.fa-c {
    color: #6B6B6B;
}

.fa-python {
    color: #6B6B6B;
}

.fa-php {
    color: #6B6B6B;
}

.fa-java {
    color: #6B6B6B
}

.fa-node-js {
    color: #6B6B6B;
}

.fa-figma {
    color: #6B6B6B;
}

.teste-front {
    grid-row: 2/3;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; */
}

.teste-back {
    grid-row: 2/3;
    grid-column: 2/3;
}

.teste-banco {
    grid-row: 2/3;
    grid-column: 3/4;
}

.teste-frame {
    grid-row: 4/5;
}

.teste-design {
    grid-row: 4/5;
    grid-column: 2/3;
}

.teste-soft {
    grid-row: 4/5;
    grid-column: 3/4;
}

.btn-habilidades:hover {
    cursor: pointer;
    /* color: #4CD137; */
    border: 2px solid #4CD137;
}

.btn-habilidades h2{
    display: flex;
    align-items: center;
    width: 100%;    
}

.btn-habilidades .arrow-symbol {
    font-size: 35px;
    margin-left: 80px;
    padding-right: 10px;
    color: #4CD137;
}

.btn-habilidades .code-symbol{
   font-size: 40px;
   margin-right: 15px;
   padding-left: 20px;
   color: #4CD137;
    
}

.btn-habilidades .data-symbol {
   font-size: 35px;
   margin-right: 35px;
   color: #4CD137;
}



.container-botoes {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 30px;
    margin-top: 80px;
    height: auto;
}




/* .formacoes {
    height: 100vh;
    min-height: 900px;
    text-align: center;
} */

.formacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align:justify;
    gap: 0 50px;
    margin-top: 60px;
}

.ano-formacao {
    color: #4CD137;
    font-family: poppins, sans-serif;
    font-size: 20px;
    padding: 5px;
}

.titulo-formacao {
    font-family: poppins, sans-serif;
    font-size: 18px;
    padding: 5px;
}

.instituicao-formacao {
    font-family: poppins, sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 1px 5px;
}

.texto-formacao {
    font-family: poppins, sans-serif;
    font-size: 16px;    
}







.portifolio {
    height: 100vh;
    min-height: 1000px;
    text-align: center;
}











.contatos {
    text-align: center;
    height: 100vh;
    min-height: 900px;
}

.container-contatos {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    /* margin-top: 80px; */
    /* padding: 150px 0 100px; */
}

.contatar {
    margin-top: 200px;
    margin-bottom: 50px;
}

.caixa-contatos {
    background-color: #424141;
    border-radius: 5px;
    padding: 50px 0 15px 0;
    border: 2px solid #4cd13700;
    /* box-shadow: 13px 5px 3px #424141; */
}

.caixa-contatos:hover  {
    cursor: pointer;
    border: 2px solid #4CD137;
}

a {
    text-decoration: none;
}

.texto-caixa {
    text-decoration: none;
    font-size: 15px;
    font-family: poppins, sans-serif;
    font-weight: normal;
    color: white;
}


.texto-contato {
    /* color: white; */
    font-family: poppins, sans-serif;
    font-size: 20px;
}

.descricao-contato {
    font-family: poppins, sans-serif;
    /* font-size: 15px;
    margin: 0;
    border: 1px solid black; */
}

.fa-location-dot {
    font-size: 80px;
    padding: 20px 0 30px 0px;
}

.fa-envelope {
    font-size: 80px;
    padding: 20px 0 30px 0px;
}

.fa-square-phone {
    font-size: 80px;
    padding: 20px 0 30px 0;
}

footer {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #424141;
    text-align: center;
}